<a href="https://colab.research.google.com/github/rajeshnayak23/RAJESH_AIML/blob/main/RAJESH__2001206023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
#USING for statement in PYTHON
x='RAJESH'
for i in x:
  print(i)

R
A
J
E
S
H

In [28]:
a=int(input("enter a number"))
rev=0
r=a%10
rev=(rev*10)+r
a=a/10
print(rev)

enter a number123
3

In [26]:
#USE OF elif statement in PYTHON
number=int(input("enter a number"))
if number==10:
  print("number is equals to 10")
elif number==50:
  print("number is equals to 50")
elif number==100:
  print("the number is equal to 100")
else:
  print("number is not equal to 10,50 or 100")

enter a number50
number is equals to 50

In [24]:
#USING if Statement IN PYTHON
a=int(input("enter a number"))
if a%2==0:
  print('even no=',a)

enter a number46
even no= 46

In [25]:
#USING if-else Statement in PYTHON
a=int(input("enter a number"))
if a%2==0:
  print('even no=',a)
else:
  print('odd no=',a)

enter a number45
odd no= 45

In [19]:
x='hello'
print('l' not in x)

False

In [21]:
#USING ASSIGNMENT OPERATORS
a=5
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a/=5
print(a)
a%=5
print(a)
a//=5
print(a)
a**=5
print(a)
a&=5
print(a)
a|=5
print(a)
a^=5
print(a)
a>>=5
print(a)
a<<=5
print(a)

10
5
25
5.0
0.0
0.0
0.0

TypeError: ignored

In [17]:
x=5
y=5
print(x is y)
y=6
print(x is not y)

True
True

In [ ]:
a=5
b=2
print (a<<b)

20

In [ ]:
a=True
b=True
c=False
print(a and b)
print(a and c)
print(a or b)
print(not c)
print(a or c)

True
False
True
True
True

In [ ]:
a=23
b=12.5
c=True
d='sdfghj'
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
#using of / and //
a=8
b=3
print(a/b)
print(a//b)

2.6666666666666665
2

In [ ]:
a=2+5j
print(a)
b=3+10j
c=a+b
print(c)

(2+5j)
(5+15j)

In [ ]:
a=2
b=5
print(2**5)

32

In [ ]:
x=0b10100
y=100
z=0o215
u=0x12d
float_1=100.5
float_2=1.5e2
a=5+3.14j
print(x,y,z,u)
print(float_1,float_2)
print(a,a.imag,a.real)

20 100 141 301
100.5 150.0
(5+3.14j) 3.14 5.0

In [ ]:
print("hello")

hello

In [ ]:
a=2
b=3
print(a+b)

5